/*** BASE ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



/*** STYLES ***/
body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01rem;
  color: #000;

  background-color: #fff;
}

h4 {
  margin: 0 0 10px 0;
}

.right-container h4 {
  margin: 0 0 24px 0;
}

p {
  margin: 0 0 20px 0;
}

p.soon {
  margin: 20px 0 5px 0;
}

figcaption {
  font-size: 10px;
  margin: 6px 0 0 0;
}

span.title {
  font-style: italic;
}

span.title:hover {
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.1s;
}

a.project-link {
  border-bottom: 1px solid #000;
}

a.project-link:hover {
  border-bottom: 1px solid magenta;
}

a:hover,
button:hover {
  color: magenta;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 18px 0 0 18px;
}

footer {
  position: fixed;
  bottom: 18px;
  left: 18px;
}

footer button {
  margin-right: 18px;
  transition: 0.1s;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;

  text-align: left;
}

.para-sep {
  width: 36px;
  margin: -8px 0 22px 0;
}

::selection {
  background: magenta;
  color: #fff;
}

.csr-pointer:hover {
  cursor: pointer;
}

.csr-alias:hover {
  cursor: alias;
}

.csr-right:hover {
  cursor: ne-resize;
}

.csr-left:hover {
  cursor: w-resize;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-y {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* scroll bars */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  outline: 1.5px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  outline: 1.5px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: magenta;
  outline: 1.5px solid magenta;
}

/* tabs */
.right-container,
.left-container {
  padding: 18px;
}

.right-container {
  margin: 0 0 0 132px;
}

.left-container {
  margin: 0 112px 0 0;
}

.left-container img {
  margin: 18px 0 0 0;
}

.left-container img.img-vert {
  width: calc(50% - 9px);
}

.left-container img.img-vert:nth-child(odd) {
  margin: 18px 12px 0 0;
}

.left-container img.img-vert:nth-child(even) {
  margin: 18px 0 0 0;
}

.left-container video {
  margin: 18px 0 -4px 0;
}

.information,
.publications,
.archives,
.research,
.res-1,
.res-2,
.res-3,
.res-4,
.arc-1,
.pub-aak-0,
.pub-aak-1,
.pub-aak-2,
.pub-aak-3,
.pub-aak-4,
.pub-aak-5,
.pub-aak-6,
.pub-aak-7 {
  background-color: #fff;
  position: fixed;
  height: 100%;
  box-shadow: 0;
}

.information,
.publications,
.archives,
.research {
  top: 0;
  right: 0;
  transform: translateX(101%);
  z-index: 2;
  transition: all 0.6s ease;
}

.res-1,
.res-2,
.res-3,
.res-4,
.arc-1,
.pub-aak-0,
.pub-aak-1,
.pub-aak-2,
.pub-aak-3,
.pub-aak-4,
.pub-aak-5,
.pub-aak-6,
.pub-aak-7 {
  height: -webkit-calc(100% - 64px);
  height:    -moz-calc(100% - 64px);
  height:         calc(100% - 64px);
  bottom: 0;
  left: 0;
  transform: translateX(-101%);
  z-index: 3;
  transition: all 0.9s ease;
}

.information,
.research,
.archives,
.publications {
  width: 40%;
}

.res-1,
.res-2,
.res-3,
.res-4,
.arc-1,
.pub-aak-0,
.pub-aak-1,
.pub-aak-2,
.pub-aak-3,
.pub-aak-4,
.pub-aak-5,
.pub-aak-6,
.pub-aak-7 {
  width: 60%;
}

.information p,
.publications p,
.archives p,
.research p,
.res-1 p,
.res-2 p,
.res-3 p,
.res-4 p,
.arc-1 p,
.pub-aak-0 p,
.pub-aak-1 p,
.pub-aak-2 p,
.pub-aak-3 p,
.pub-aak-4 p,
.pub-aak-5 p,
.pub-aak-6 p,
.pub-aak-7 p {
  max-width: 800px;
}

.info-exit,
.pubs-exit,
.arch-exit,
.res-exit,
.res-1-exit,
.res-2-exit,
.res-3-exit,
.res-4-exit,
.arc-1-exit,
.pub-aak-0-exit,
.pub-aak-1-exit,
.pub-aak-2-exit,
.pub-aak-3-exit,
.pub-aak-4-exit,
.pub-aak-5-exit,
.pub-aak-6-exit,
.pub-aak-7-exit {
  width: 72px;
  position: fixed;
  top: 0;
  margin: 18px;
}

.info-exit,
.pubs-exit,
.arch-exit,
.res-exit {
  left: 0;
}

.res-1-exit,
.res-2-exit,
.res-3-exit,
.res-4-exit,
.arc-1-exit,
.pub-aak-0-exit,
.pub-aak-1-exit,
.pub-aak-2-exit,
.pub-aak-3-exit,
.pub-aak-4-exit,
.pub-aak-5-exit,
.pub-aak-6-exit,
.pub-aak-7-exit {
  right: 0;
}

svg path {
  fill: #000;
  transition: fill 0.1s;
}

svg:hover path {
  fill: magenta;
}

.open {
  transform: translateX(0);
  box-shadow: rgba(255, 0, 255, 0.4) 0 0 18px 0;
}

.col-container {
  display: flex;
  justify-content: space-between;
}

.col-one {
  flex: 1;
}

.col-three {
  flex: 3;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* slideshow */
.parallax_slideshow {
  height: 100vh;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  background-attachment: fixed;
}

.image_1 {
  background-image: url(assets/LPE_1.webp);
}

.image_2 {
  background-image: url(assets/LPE_2.webp);
}

.image_3 {
  background-image: url(assets/LPE_res_TG_3.webp);
}

.image_4 {
  background-image: url(assets/LPE_pub_AAK_1-2_3.webp);
}

.image_5 {
  background-image: url(assets/LPE_pub_AAK_1-2_5.webp);
}

.image_6 {
  background-image: url(assets/LPE_pub_AAK_1-2_1.webp);
}

.image_7 {
  background-image: url(assets/LPE_res_HB_3.webp);
}

.image_8 {
  background-image: url(assets/LPE_5.webp);
}

.image_9 {
  background-image: url(assets/LPE_res_HB_5.webp);
}


/*** RESPONSIVE ***/
@media (max-width: 1500px) {
  .information,
  .research,
  .archives,
  .publications,
  .res-1,
  .res-2,
  .res-3,
  .res-4,
  .arc-1,
  .pub-aak-0,
  .pub-aak-1,
  .pub-aak-2,
  .pub-aak-3,
  .pub-aak-4,
  .pub-aak-5,
  .pub-aak-6,
  .pub-aak-7 {
    width: 50%;
  }
}

@media (max-width: 1200px) {

  section {
    background-size: 60%;
  }
  .col-container {
    flex-direction: column;
  }
  .col-three {
    flex: 1;
  }
  button {
    line-height: 1.5;
  }
  .information,
  .publications,
  .archives,
  .research,
  .res-1,
  .res-2,
  .res-3,
  .res-4,
  .arc-1,
  .pub-aak-0,
  .pub-aak-1,
  .pub-aak-2,
  .pub-aak-3,
  .pub-aak-4,
  .pub-aak-5,
  .pub-aak-6,
  .pub-aak-7 {
    width: 100%;
    left: 0;
  }
  .res-1,
  .res-2,
  .res-3,
  .res-4,
  .arc-1,
  .pub-aak-0,
  .pub-aak-1,
  .pub-aak-2,
  .pub-aak-3,
  .pub-aak-4,
  .pub-aak-5,
  .pub-aak-6,
  .pub-aak-7 {
    height: 100%;
  }
  .left-container p,
  .left-container img,
  .left-container video {
    width: 100%;
  }
  .right-container,
  .left-container {
    margin: 72px 0 0 0;
  }

}

@media (max-width: 640px) {

body {
  overflow: hidden;
}
section {
  background-size: 80%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.image_2,
.image_3,
.image_4,
.image_5,
.image_6 {
  display: none;
}

}
