/*** BASE ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



/*** STYLES ***/
body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #000;

  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 18px 0 0 18px;
}

footer {
  position: fixed;
  bottom: 18px;
  left: 18px;
}

footer a {
  margin-right: 18px;
  transition: 0.1s;
}

a:hover {
  color: magenta;
}

::selection {
  background: magenta;
  color: #fff;
}

.pointer:hover {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

/* tabs */
.information,
.publications,
.archives,
.research {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);

  box-shadow: rgba(0, 0, 0, 0.2) 0 0 18px 0;

  z-index: 2;
  transition: transform 0.6s ease;
}

.information {
  width: 20%;
}

.publications {
  width: 30%;
}

.archives {
  width: 40%;
}

.research {
  width: 50%;
}

.information p,
.publications p,
.archives p,
.research p {
  margin: 18px 18px 0 18px;
  max-width: 800px;
}

.info-exit,
.pubs-exit,
.arch-exit,
.res-exit {
  width: 96px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 18px;
}

svg path {
  fill: #000;
  transition: fill 0.1s;
}

svg:hover path {
  fill: magenta;
}

.open {
  transform: translateX(0);
}

.col-container {
  display: flex;
  justify-content: space-between;
}

.col-one {
  flex: 1;
}

.col-five {
  flex: 5;
}

/* slideshow */
.parallax_slideshow {
  height: 100vh;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  background-attachment: fixed;
}

.image_1 {
  background-image: url(images/LPE_1.jpg);
}

.image_2 {
  background-image: url(images/LPE_2.jpg);
}

.image_3 {
  background-image: url(images/LPE_3.jpg);
}

.image_4 {
  background-image: url(images/LPE_4.jpg);
}

.image_5 {
  background-image: url(images/LPE_5.jpg);
}

.image_6 {
  background-image: url(images/LPE_6.jpg);
}


/*** RESPONSIVE ***/
@media (max-width: 1000px) {

section {
  background-size: 60%;
}

}

@media (max-width: 750px) {

  .information,
  .publications,
  .archives,
  .research {
    width: 100%;
    left: 0;
  }

}

@media (max-width: 640px) {

body {
  overflow: hidden;
}

section {
  background-size: 80%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.image_2,
.image_3,
.image_4,
.image_5,
.image_6 {
  display: none;
}

}
