
/*** BASE ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



/*** STYLES ***/
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1vw;
  line-height: 1.2;
  color: blue;

  background-color: gainsboro;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 18px 0 18px;
  font-size: 0;

  transition: font-size 1s;
}

header.scrolled {
  font-size: 1vw;
  padding: 18px 18px 0 18px;
  display: flex;
}

.section {
  min-height: 100vh;
  position: relative;

  padding: 56px 18px;
}

.cover {
  text-align: center;
}

h1 {
  margin: 0 72px 0 0;
  font-family: cursive;
  letter-spacing: .2rem;
  line-height: 1;
}

h1.cover {
  font-size: 2.25vw;
  margin: -2vh 0.25vh 0 0;
}

h1.scrolled {
  display: inline;
}

h2 {
  font-size: 9vw;
  line-height: .9;
  margin: 0 0 2.25vw 0;
}

h2.cover {
  margin: 6vh 0 0 0;
}

h3 {
  font-size: 4.5vw;
  line-height: .9;
  margin: 0 0 .6vw 0;
}

h3.translation {
  font-style: oblique;
  font-family: cursive;
  margin: 0 0 2.25vw 0;
}

h4 {
  font-size: 4.5vw;
  margin: 2.25vw 0 0 0;
  font-family: monospace;
}

p {
  font-size: 2.25vw;
}

p:not(:last-child) {
  margin: 0 0 2.25vw 0;
}

.emphasis {
  font-style: oblique;
  font-family: cursive;
}

.page-italic {
  font-style: oblique;
  margin: 0 0 0 -1vw;
}

a {
  text-decoration: none;
}

a.link {
  border-bottom: none;
}

a.link:hover {
  color: magenta;
  border-bottom: solid .2vw magenta;
}

svg {
  width: 95vw;
  margin: 4vw 0 0 0;
}

img {
  width: 12vw;
}

.phone-video {
  max-width: 12vw;
  display: inline-block;
}

::selection {
  background: magenta;
  color: #fff;
}

.pointer:hover {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

/* hovers */
.hover-rotate-left,
.hover-rotate-right,
.hover-rotate-left-big,
.hover-rotate-manua {
  transition: transform 0.5s ease;
}

.hover-image {
  transition: transform 1s ease;
}

.hover-rotate-left:hover {
  transform: rotate(-5deg) scale(1.1);
}

.hover-rotate-right:hover {
  transform: rotate(5deg) scale(1.1);
}

.hover-rotate-left-big:hover {
  transform: rotate(-5deg) scale(2) translateY(0.5vw);
}

.hover-rotate-manua:hover {
  transform: rotate(-5deg) scale(2) translateY(0.5vw) translateX(-3vw);
}

.hover-image:hover {
  transform: rotate(-5deg) scale(3) translateY(-3vw) translateX(6vw);
}

/* alphabet */
.column-container {
  display: flex;
  justify-content: space-between;
}

.columns {
  flex: 1;
}

.columns-two {
  flex: 2;
}

.alphabet {
  display: inline;
}

.alphabet-title {
  font-size: 2.25vw;
  margin: 0 0 2.25vw 0;
}

/* map */
p.map-samoa {
  position: absolute;
  top: 16vw;
  left: 24vw;
}

p.map-americansamoa {
  position: absolute;
  top: 28vw;
  left: 66vw;
}

p.map-savaii {
  position: absolute;
  top: 25vw;
  left: 8vw;
  font-family: cursive;
}

p.map-upolu {
  position: absolute;
  top: 32vw;
  left: 28vw;
  font-family: cursive;
}

p.map-tutuila {
  position: absolute;
  top: 41vw;
  left: 57vw;
  font-family: cursive;
}

p.map-manuaislands {
  position: absolute;
  top: 38vw;
  left: 82vw;
  font-family: cursive;
}

/* page numbers */
.pn-top {
  margin: -0.5vw 0 0 0;
}

/* scroll */
.scroll-to {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 18px;

  font-size: 40px;
  font-family: monospace;
}


/*** RESPONSIVE ***/

/* extrawide */
@media (min-width: 1800px) {

}

/* small */
@media (max-width: 750px) {

}
