p.speech {
  color: white;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  font-size: 4vw;
  transition: all .2s linear;
}

/*** CONVO 1 ***/
/* speech bubble 1 */
.speech-1-1 {
  position: relative;
  background: blue;
  width: 28vw;
  height: 24vw;
  margin: -5vw 0 0 66vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 44%, 44% 43%, 48% 56%, 30% 43%, 7% 44%);
}
.speech-1-1:hover {
  -webkit-clip-path: polygon(5% 0%, 92% 0%, 90% 55%, 75% 55%, 75% 74%, 50% 55%, 0% 55%);
}
.speech-1-1:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 2 */
.speech-1-2 {
  position: relative;
  background: blue;
  width: 28vw;
  height: 24vw;
  margin: -21vw 0 0 10vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 49%, 44% 48%, 28% 61%, 30% 48%, 7% 49%);
}
.speech-1-2:hover {
  -webkit-clip-path: polygon(5% 5%, 85% 0%, 85% 55%, 50% 55%, 25% 75%, 25% 55%, 0% 55%);
}
.speech-1-2:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 3 */
.speech-1-3 {
  position: relative;
  background: blue;
  width: 36vw;
  height: 24vw;
  margin: -20vw 0 0 33vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 80% 10%, 78% 49%, 38% 48%, 23% 61%, 26% 48%, 7% 49%);
}
.speech-1-3:hover {
  -webkit-clip-path: polygon(5% 5%, 90% 0%, 90% 55%, 45% 55%, 25% 75%, 25% 55%, 0% 55%);
}
.speech-1-3:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 4 */
.speech-1-4 {
  position: relative;
  background: blue;
  width: 36vw;
  height: 25vw;
  margin: -10vw 0 0 62vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 44%, 46% 43%, 48% 56%, 32% 43%, 7% 44%);
}
.speech-1-4:hover {
  -webkit-clip-path: polygon(5% 0%, 92% 0%, 90% 55%, 75% 55%, 75% 74%, 47% 55%, 0% 55%);
}
.speech-1-4:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 5 */
.speech-1-5 {
  position: relative;
  background: blue;
  width: 34vw;
  height: 24vw;
  margin: -26vw 0 0 4vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 80% 10%, 78% 49%, 48% 48%, 33% 61%, 36% 48%, 7% 49%);
}
.speech-1-5:hover {
  -webkit-clip-path: polygon(5% 5%, 90% 0%, 90% 55%, 45% 55%, 25% 75%, 25% 55%, 0% 55%);
}
.speech-1-5:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/*** CONVO 2 ***/
/* speech bubble 1 */
.speech-2-1 {
  position: relative;
  background: blue;
  width: 32vw;
  height: 18vw;
  margin: 0.5vw 0 0 16vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 49%, 41% 48%, 28% 64%, 30% 48%, 7% 49%);
}
.speech-2-1:hover {
  -webkit-clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 50% 75%, 25% 100%, 25% 75%, 0% 75%);
}
.speech-2-1:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 2 */
.speech-2-2 {
  position: relative;
  background: blue;
  width: 38vw;
  height: 18vw;
  margin: -16vw 0 0 50vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 49%, 46% 48%, 48% 64%, 34% 48%, 7% 49%);
}
.speech-2-2:hover {
  -webkit-clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 95% 75%, 95% 100%, 80% 75%, 0% 75%);
}
.speech-2-2:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 3 */
.speech-2-3 {
  position: relative;
  background: blue;
  width: 38vw;
  height: 18vw;
  margin: -4vw 0 0 52vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 49%, 46% 48%, 48% 64%, 34% 48%, 7% 49%);
}
.speech-2-3:hover {
  -webkit-clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.speech-2-3:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/* speech bubble 4 */
.speech-2-4 {
  position: relative;
  background: blue;
  width: 38vw;
  height: 18vw;
  margin: -14vw 0 0 8vw;
  transition: .2s linear;
  -webkit-clip-path: polygon(12% 12%, 70% 10%, 68% 49%, 41% 48%, 28% 64%, 30% 48%, 7% 49%);
}
.speech-2-4:hover {
  -webkit-clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 50% 75%, 25% 100%, 25% 75%, 0% 75%);
}
.speech-2-4:hover p {
  top: 4vw;
  left: 4vw;
  font-size: 4vw;
}

/*** RESPONSIVE ***/

/* extrawide */
@media (min-width: 1800px) {

}

@media (max-width: 1000px) {

}

/* small */
@media (max-width: 750px) {
  .speech-1-1 {
    position: relative;
    background: blue;
    width: 28vw;
    height: 24vw;
    margin: 4vw 0 0 64vw;
    -webkit-clip-path: polygon(5% 0%, 92% 0%, 90% 55%, 75% 55%, 75% 74%, 50% 55%, 0% 55%);
  }
  .speech-1-1 p {
    top: 4vw;
    left: 4vw;
    font-size: 4vw;
  }
}
