
/*** BASE ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



/*** STYLES ***/
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1vw;
  line-height: 1.2;
  color: blue;

  background-color: gainsboro;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 18px 0 18px;
  font-size: 0;

  transition: font-size 1s;
}

header.scrolled {
  font-size: 1vw;
  padding: 18px 18px 0 18px;
  display: flex;
}

.section {
  min-height: 100vh;
  position: relative;

  padding: 56px 18px;
}

.cover {
  text-align: center;
}

h1 {
  margin: 0 72px 0 0;
  font-family: cursive;
  letter-spacing: .2rem;
  line-height: 1;
}

h1.cover {
  font-size: 2.25vw;
  margin: -2vh 0.25vh 0 0;
}

h1.scrolled {
  display: inline;
}

h2 {
  font-size: 8vw;
  line-height: .9;
  margin: 0 0 2.25vw 0;
}

h2.cover {
  margin: 5vh 0 0 0;
}

h3 {
  font-size: 4.5vw;
  line-height: .9;
  margin: 0 0 .6vw 0;
}

h3.translation {
  font-style: oblique;
  font-family: cursive;
  margin: 0 0 2.25vw 0;
}

h4 {
  font-size: 4vw;
  margin: 2.25vw 0 0 0;
  font-family: monospace;
}

p {
  font-size: 2.25vw;
}

p:not(:last-child) {
  margin: 0 0 2.25vw 0;
}

p.emoji {
  font-size: 0.75vw;
}

.emphasis {
  font-style: oblique;
  font-family: cursive;
}

.page-italic {
  font-style: oblique;
  margin: 0 0 0 -1vw;
}

a {
  text-decoration: none;
}

a.link {
  border-bottom: none;
}

a.link:hover {
  color: magenta;
  border-bottom: solid .2vw magenta;
}

svg {
  width: 95vw;
  margin: 4vw 0 0 0;
}

img {
  border-radius: 1vw;
  overflow: hidden;
}

img.photo {
  width: 12vw;
}

.screenshot-container {
  display: flex;
  gap: 0 2vw;
  margin: 0 0 1.5vw 0;
}

.screenshot-container>* {
  flex: 1 1 100vw;
}

.video-container {
  display: flex;
  gap: 0 2vw;
}

.video-container>* {
  flex: 1 1 100vw;
}

.phone-video {
  border-radius: 2vw;
  overflow: hidden;
}

.workshop-video video {
  border-radius: 1vw;
  overflow: hidden;
  max-height: 70vh;
  width: auto;
}


::selection {
  background: red;
  color: #fff;
}

.pointer:hover {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

/* hovers */
.hover-rotate-left,
.hover-rotate-right,
.hover-rotate-left-big,
.hover-rotate-manua {
  transition: transform 0.5s ease;
}

.hover-image {
  transition: transform 1s ease;
  transition-delay: 0.25s;
}

.hover-rotate-left:hover {
  transform: rotate(-5deg) scale(1.1);
}

.hover-rotate-right:hover {
  transform: rotate(5deg) scale(1.1);
}

.hover-rotate-left-big:hover {
  transform: rotate(-5deg) scale(2) translateY(0.5vw);
}

.hover-rotate-manua:hover {
  transform: rotate(-5deg) scale(2) translateY(0.5vw) translateX(-3vw);
}

.hover-image:hover {
  transform: rotate(-5deg) scale(3) translateY(-3vw) translateX(6vw);
}

/* alphabet */
.column-container {
  display: flex;
  justify-content: space-between;
}

.columns {
  flex: 1;
}

.columns-two {
  flex: 2;
}

.alphabet {
  display: inline;
}

.alphabet-title {
  font-size: 2.25vw;
  margin: 0 0 2.25vw 0;
}

/* poetry */
p.poetry {
  display: inline-block;
  position: relative;
}

p.stretch {
  -webkit-transform: scale(2.5, 1);
  -moz-transform: scale(2.5, 1);
  -o-transform: scale(2.5, 1);
  transform: scale(2.5, 1);
}

p.small-stretch {
  margin: 0 0.5vw 0 0.5vw;
}

p.big {
  font-size: 8vw;
}

p.big-stretch {
  margin: 0 2.75vw 0 2.75vw;
}

p.medium {
  font-size: 5vw;
}

div.talofa {
  position: absolute;
  top: 18vw;
  left: 4vw;
}

div.tagata {
  position: absolute;
  top: 2vw;
  left: 32vw;
}

div.kagaka {
  position: absolute;
  top: 10vw;
  left: 44vw;
}

div.tatou {
  position: absolute;
  top: 22vw;
  left: 56vw;
}

div.kakou {
  position: absolute;
  top: 30vw;
  left: 40vw;
}

/* map */
p.map-samoa {
  position: absolute;
  top: 16vw;
  left: 24vw;
}

p.map-americansamoa {
  position: absolute;
  top: 28vw;
  left: 66vw;
}

p.map-savaii {
  position: absolute;
  top: 25vw;
  left: 8vw;
  font-family: cursive;
}

p.map-upolu {
  position: absolute;
  top: 32vw;
  left: 28vw;
  font-family: cursive;
}

p.map-tutuila {
  position: absolute;
  top: 41vw;
  left: 57vw;
  font-family: cursive;
}

p.map-manuaislands {
  position: absolute;
  top: 38vw;
  left: 82vw;
  font-family: cursive;
}

/* buttons */
a.btn-colour {
  color: white;
}

.btn {
  text-align: center;
  color: #fff;

  position: absolute;
  width: 32vw;
  padding: 1vw 0 1.5vw 0;
  border-radius: 1vw;
  border-bottom: 0.5vw solid darkblue;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(255,0,0,0.3);
  user-select: none;
  background: blue;

  cursor: pointer;
  transition: background 0.05s linear;
  transition: all .05s linear;
}

.btn:active {
  box-shadow: 0.25vw 0.25vw 0.25vw rgba(255,0,0,0.15);
  border-bottom: 0.25vw solid darkblue;
  transform: translateY(0.5vw);
}

.btn-dm-1 {
  top: 8vw;
  left: 58vw;
}

.btn-dm-2 {
  top: 14vw;
  left: 6vw;
}

.btn-dm-3 {
  top: 20vw;
  left: 54vw;
}

.btn-dm-4 {
  top: 26vw;
  left: 10vw;
}

.btn-dm-5 {
  top: 32vw;
  left: 50vw;
}

.btn-siva {
  top: 31vw;
  left: 54vw;
}

.btn-hb {
  top: 23vw;
  left: 30vw;
}

.btn-fb {
  top: 33vw;
  left: 55vw;
}

/* page numbers */
.pn-top {
  margin: -0.5vw 0 0 0;
}

/* scroll */
.scroll-to {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 18px;

  font-size: 40px;
  font-family: monospace;
}


/*** RESPONSIVE ***/

/* extrawide */
@media (min-width: 1800px) {

}

/* small */
@media (max-width: 750px) {

}
